version: "2"

services:
  web:
    build: ./web/
    container_name: cryptpaste-web
    restart: always
    ports:
      - "80:3000"
    command:
      "npm run start"

  server:
    build: ./server/
    container_name: cryptpaste-server
    restart: always
    ports:
      - "3000:3000"